:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #ffce3e;
    --primary-color: rgb(238, 77, 45);
}

*{
    box-sizing: inherit;
}

.clear{
    clear: both;
}

html{
    /* 100% = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*  */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
} 

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--nomal:hover{
    background-color: rgba(0,0,0,0.05);
}

.btn.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    padding: 0 8px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}

.fa-solid .fa-chevron-down.select-input_icon{
    min-width: 200px;
    font-size: 1.4rem;
    margin-right: 0 ;
    color: rgba(131,131,131);
    top: 1px;
}


.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__list::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover{
    opacity: 0.9;
}

.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.pagination-item__icon{

}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



